*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.idea
.ipynb_checkpoints

*.coverage
*.log
/.cache
/.pytest_cache
/.mypy_cache

/doc/_apidoc/
/build
docs/build/**

multirun
outputs